@mixin position($p: static, $t: null, $r: null, $b: null, $l: null) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin boxSize($w: null, $h: null) {
  width: $w;
  height: $h;
}

@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Permanent+Marker|Prata|Righteous|Shadows+Into+Light|Special+Elite&display=swap");
