@import "../connect.scss";

.NavWrapper {
  @include position($p: absolute, $b: 0, $r: 0);
  @include boxSize($w: 98%, $h: 100px);
  // max-width: 1000px;
  // border: 2px solid red;
  // overflow: scroll;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .NavWrapperItem {
    @include position($p: absolute, $t: 50%, $r: 0);
    @include boxSize($w: 150px, $h: 75px);
    transform: translateY(-50%);
    // border: 2px solid rgb(255, 255, 255);

    display: flex;
    font-size: 20pt;
    text-align: center;

    div {
      @include boxSize($w: 100%);
      margin-top: auto;
      margin-bottom: auto;

      a {
        &:hover {
          color: #eecda3;
        }
        // font-family: "Shadows Into Light", cursive;
        font-family: "KCC-eunyoung";
        font-size: 30px;
        color: #aa076ce1;
        text-decoration: none;
        text-shadow: 2px 1px 3px #61045f;
      }
    }
  }
}
