@import "../connect.scss";
// font-family: 'Righteous', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Special Elite', cursive;
// font-family: 'Prata', serif;
// font-family: 'Fugaz One', cursive;

.TextWrapper {
  @include position($p: absolute, $t: 0, $l: 0);
  // @include boxSize($w: 90%, $h: 90%);
  color: #eef2f3;
  text-shadow: 2px 2px 2px #61045f;
  padding: 10px;

  h1 {
    font-family: "KimNamyun";
    position: relative;
    display: block;
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    transform: translateY(6rem);
    animation: up 500ms linear forwards;
    z-index: 1;

    &::before {
      top: 1.4rem;
      animation: draw 500ms linear 1s forwards;
    }

    &::after {
      bottom: 0.4rem;
      animation: draw 500ms linear 1s forwards;
    }
  }

  .descriptions {
    font-size: 2rem;
    font-family: "KimNamyun";
  }
}

.titleContainer {
  font-size: 0;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  // border: 2px solid red;
}

@keyframes up {
  100% {
    transform: translateY(0);
  }
}

@keyframes draw {
  100% {
    width: 100%;
  }
}
