@import "../connect.scss";

.fade-enter,
.fade-exit {
  @include position($p: absolute, $t: 0, $l: 0);
  transition: all 1s ease;
}
.fade-enter,
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  z-index: 1;
}
